body{
    background-color: black;
}
h1{
    color: azure;
}

#p1{
    color: beige;
}
#p2{
    color: beige;
}
#p3{
    color: beige;
}
#p3{
    color: beige;
}

.odd{
    color: beige;
}
.even{
    color: beige;
}
