.icons{
    text-align: center;
}

.icons a{
    text-decoration: none;
    margin-right: 20px;
}

.fa-solid.fa-envelope{
    color: rgb(11, 123, 123);
}

.fa-solid.fa-envelope:hover{
    color: rgb(138, 178, 178);
}

.fa-brands.fa-square-instagram{
    color: rgb(119, 42, 23);
}

.fa-brands.fa-square-instagram:hover{
    color: rgb(189, 148, 138);
}

.fa-brands.fa-snapchat{
    color: rgb(206, 222, 57);
}

.fa-brands.fa-snapchat:hover{
    color: rgb(184, 188, 148);
}

.fa-brands.fa-pinterest{
    color: rgb(194, 56, 56);
}

.fa-brands.fa-pinterest:hover{
    color: rgb(164, 142, 142);
}

